
.progress-container{
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 80px;
}
.progressBar{
    height: 5px;
    background: gold;
}
.box{
    padding-top: 100px;
}
span{
    color: #3d6cb9;
}
.buttons a{
    background: gold;
    color: black;
}
.buttons a:hover{
    background: transparent;
    border: 1px solid gold;
    color: gold;
}
.desc{
    font-size: 1rem;;
}
.title{
    letter-spacing: 1px !important;
}


/* Mobile view */
@media(max-width:414px){

.protitle{
    padding: 0px !important;
}
.progress-container{
    padding-top: 60px !important;
}
  .image{
    width: 300px;
    height: 200px;
  }
  .image-container{
    padding: 0px !important;
    margin: 0px !important;
  }
  .row{
    margin-top:75px;
  }
  .projcontent{
    margin-top: -150px !important;
  }
  .projdesc{
    margin: 0px !important;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
    font-size: .6rem;;
    padding: 10px !important;
    color:  #fff !important;
  }
  .used{
    font-size: .8rem !important;
  }
}

