.contact{
    padding-top: 100px;
    margin: auto;
    overflow: hidden;
}
.title{
    letter-spacing: 1px;
    color: gold;
}
.form-container{
    position: relative;
}
.svg{
    position: absolute;
    stroke: gold;
    z-index: -1;  
}

.top-btn{
    background-color: gold;
    width: 50px;
    height: 50px;
    }

    .top-btn:hover{
        transform: scale(1.2) !important;
        transition: ease .5s;
        box-shadow: 0px 0px 50px #ddd;
    }
form{
    margin-bottom: 100px;
    input,textarea{
        padding: 10px;
        background: transparent;
        border: 2px solid #fff;
        color: white;
        font-weight: bold;
        border-radius: 5px;
    } 
}
.submit{
    background: transparent;
    color: gold;
    letter-spacing: 2px;
    font-size: 1.1rem;
    border: 1px solid gold;
}
.submit:hover{
    background: gold;
    color: black;
    transition: ease-in-out .5s;
}

h5{
    color: gold;
}

.text-success{
 margin-top: -80px;
}

/* Tab view */
@media(max-width:992px){
    .text-container{
        text-align: center;
    }
}

/* Mobile view */
@media(max-width:768px){
    .text-container{
        padding-left: 100px;
    }
    .form-container{
        margin-top: -200px;
    }
}

@media(max-width:600px){
    .text-container{
        padding: 0px 30px;
        margin: auto;
        p p{
            font-size: 1em;
        }
    }

    .form-container{
        margin: 0px;

        svg{
            width: 200px;
        }

        form{
            margin: 0;
            
                input,textarea{
                    padding: 5px;
                    background: transparent;
                    border: 2px solid #fff;
                    color: white;
                    font-weight: bold;
                    font-size: .7em;
                    border-radius: 5px;
                } 

                .submit{
                    font-size: .7em;
                }
        }
    }
}