.social{

    img{
        width: 40px;
    }
    img:hover{
        transform: scale(1.2);
        transition: .8s all;
    }
    .git{
        filter: grayscale(1) invert(1);
    }
}



/* Tap view */
@media(max-width:992px){
    .navbar-brand img{
        width: 70px;
    }
}

/* Mobile view */
@media(max-width:414px){
    .navbar-brand img{
        width: 40px;
    }
    .social{
        img{
            width: 30px;
        }
      
    }
}



