.skills{
    margin-top: 100px;
    overflow: hidden;
}

.txt{
    font-size: 1rem;
    letter-spacing: 1px;
    filter: drop-shadow(3px 2px 1px black);
    font-family: "Red Hat Display", sans-serif;   
}
.card {
    width: 150px;
    height: 150px;
    background: rgba(255,255,255,.1);
    border-radius: 20px;
    transition: box-shadow 0.5s ease-out;
}

.card:hover {
    box-shadow: 0 0 65px var(--glow-color, goldenrod);
    /* background: #000; */
}

.title{
    color: white !important;
    letter-spacing: 2px !important;
  font-family: "Red Hat Display", sans-serif !important;   
}


/* Tap view */
@media(max-width:992px){
    .skills{
        margin-top: -50px;
    }
}


/* Mobile view view */
@media(max-width:414px){
 .card{    
    width: 90px;
    height: 90px;
    margin: 7px;
 }
 .skillicons{
    width: 35px !important;
 }
 .txt{
    font-size: .7rem;
 }
 .box{
    padding: 0px !important;
 }
 .title{
    padding-top: 100px !important;
 }.card:hover {
    box-shadow: 0 0 25px var(--glow-color, goldenrod);
    /* background: #000; */
}
}

