.skills{
    margin-top: 100px;
    overflow: hidden;
}

.txt{
    font-size: 1rem;
    letter-spacing: 1px;
    filter: drop-shadow(3px 2px 1px black);
    font-family: "Red Hat Display", sans-serif;   
}
.card {
    width: 150px;
    height: 150px;
    background: rgba(255,255,255,.1);
    border-radius: 20px;
    transition: box-shadow 0.5s ease-out;
}

.card:hover {
    box-shadow: 0 0 65px var(--glow-color, goldenrod);
    /* background: #000; */
}

.title{
    color: white !important;
    letter-spacing: 2px !important;
  font-family: "Red Hat Display", sans-serif !important;   
}


/* Tap view */
@media(max-width:992px){
    .skills{
        margin-top: -50px;
    }
}


/* Mobile view view */
@media(max-width:768px){
    .card img{
        width: 100px;
    }
    .skills h1{
        margin-top: 100px;
        letter-spacing: 3px;
    }
}

@media(max-width:768px){
    .card{
        width: 100px;
        height: 150px;
        font-size: .7em;
    }
    .card img{
        width: 50px;
    }
    .box{
        margin-top: -80px;
    }
    h1{
        padding-top: 50px;
    }
    
}